{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}


<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    header {
        display: flex;
        justify-content: center;
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 36px;
        margin-top: 0;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }
</style>

<header>
    <h1>JB School</h1>
</header>
<div class="container">
    <p>JB School is a hi-tech and programming school that provides cutting-edge education in the field of technology.
        Our mission is to empower individuals with the knowledge and skills they need to succeed in the digital age.</p>
    <p>At JB School, we offer a range of courses that are designed to meet the needs of students at all levels. Whether
        you are just starting out or looking to advance your career, we have a program that is right for you.</p>
    <p>Our faculty consists of industry experts with years of experience in the field of technology. They bring their
        real-world knowledge and expertise into the classroom, giving students a practical education that prepares them
        for success in the workforce.</p>
    <p>At JB School, we believe in a hands-on approach to learning. Our students have access to state-of-the-art
        technology and resources, and they work on real-world projects that give them practical experience in the field.
    </p>
    <p>If you are looking for a school that is dedicated to providing a top-notch education in technology, then JB
        School is the right choice for you. Contact us today to learn more about our programs and how we can help you
        achieve your career goals.</p>
</div>


{% endblock %}